<% layout('/layouts/boilerplate') %>
    <h1>Edit Yamcamp</h1>
    <form action="/yamcamps/<%=yamcamp._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="yamcamp[title]" value="<%=yamcamp.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="yamcamp[location]" value="<%= yamcamp.location%>">
        </div>
        <button>Update Yamcamp</button>
    </form>
    <a href="/yamcamps/<%= yamcamp._id%>">Back To Yamcamp</a>