<% layout('/layouts/boilerplate') %>
    <h1>All Yamcamps</h1>
    <div>
        <a href="/yamcamps/new">Add Yamcamps</a>
    </div>
    <ul>
        <% for (let yamcamp of yamcamps){%>
        <li><a href="/yamcamps/<%= yamcamp._id %>"><%= yamcamp.title %></a></li>
        <% }%>
    </ul>
