<% layout('/layouts/boilerplate') %>
    <form action="/yamcamps" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="yamcamp[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="yamcamp[location]">
        </div>
        <button>Add Yamcamp</button>
    </form>
    <a href="/yamcamps">All Yamcamps</a>
